@import '../themes/theme-1';

.sectionUpperTitle {
  margin-bottom: 0;
  font-size: .6em;
  font-weight: bold;
}
.sectionTitle {
  font-size: 2em;
}
.sectionDescription {
  font-size: 1em;
}
.bannerText {
  color: white;
  margin: 0px;
  line-height: 1.5em;
  font-size: 2em;
  padding: 0;
}