@import '../../themes/theme-1';

.footer {
  display: flex;
  flex-direction: 'row';
  justify-content: space-between;
  background-color: black;
  padding: 0px 120px;
  align-self: center;
  &__column {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  &__link {
    font-size: 1em;
    text-decoration: none;
    color: $offwhite;
    text-transform: uppercase;
    &:hover {
      color: $color-1-light;
      text-decoration: none;
    }
  }
  &__address {
    font-size: 1em;
    text-decoration: none;
    color: $offwhite;
    text-transform: uppercase;
  }
  &__h4 {
    color: $color-text-light;
  }
  &__p {
    color: $color-text-light;
  }
  &__h1 {
    color: $color-text-light;
  }
}