@import '../../themes/theme-1';

.imageTextColumn {
  display: flex;
  flex-direction: row;
  &__imageContainer {
    flex: 1;
  }
  &__textContainer {
    flex: 1;
    padding: 30px;
  }
  &__right {
    flex-direction: row-reverse;
  }
}