@import '../../themes/theme-1';

.testimonial {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  &__container {

  }
  &__quote_container {

  }
  &__quote_left {

  }
  &__quote{

  }
  &__meta {

  }
  &__profile {

  }
  &__name {

  }
  &__title {
    
  }
  &__logo {

  }
}